
@{
    ViewBag.Title = "SanPhamChiTiet";
}
@model IEnumerable<BTL.Models.SanPham>
<div class="container-fluid">
    @foreach (var item in Model)
    {
        <div class="bg-light p-3">
            <div class="container">
                Trang chủ <i class="fas fa-chevron-right text-color"></i> @Html.DisplayFor(modelItem => item.DanhMuc.tenDanhMuc) <i class="fas fa-chevron-right text-color"></i> @Html.DisplayFor(modelItem => item.tenSanPham)
            </div>
        </div>
        <div class="container">
            @using (Html.BeginForm("GioHang", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @id = "draw_form" }))
            {
                @Html.AntiForgeryToken()
                <div class="row" style="display: flex">

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="content my-5">
                            <a data-fancybox="gallery"
                               href="#"
                               data-caption="Caption for single image">
                                @{
                                    string ImagePath = "~/wwwroot/asset/images/products/" + item.anh;
                                }
                                <img class="w-100" src="@Url.Content(ImagePath)" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="detail my-5 ps-5">
                            <h3>@Html.DisplayFor(modelItem => item.tenSanPham)</h3>
                            <p>- Chất liệu : @Html.DisplayFor(modelItem => item.chatLieu)</p>
                            <p>- Thương hiệu : @Html.DisplayFor(modelItem => item.thuongHieu)</p>
                            <p>- Màu sắc : @Html.DisplayFor(modelItem => item.mauSac)</p>
                            <p>- Kích thước : @Html.DisplayFor(modelItem => item.kichThuoc)</p>
                            <p>– Bảo hành 12 tháng</p>
                        </div>
                        <p style="font-size: 30px;" class="font_size-2 text-uppercase text-color ps-5">
                            @Html.DisplayFor(modelItem => item.gia) vnđ
                        </p>
                        <div class="col-lg-3 ms-5">
                            <div class="input-group">
                                <div>Số lượng muốn mua</div>
                                <input style="text-align: center" type="number" id="soLuong" name="soLuong" class="form-control input-number"
                                       value="1" min="1" max="100">
                            </div>
                        </div>

                        @if (Session["maTaiKhoan"] == null)
                        {
                            <div style="margin-top: 40px" class="font_size-2 text-uppercase text-color ps-5">Bạn cần đăng nhập để mua hàng</div>
                        }
                        else
                        {
                            <input name="maSanPham" style="display: none" value="@item.maSanPham" />
                            <input name="gia" style="display: none" value="@item.gia" />
                            <div class="font_size-2 text-uppercase text-color ps-5" style="margin-top: 40px">
                                <input style="background-color: aliceblue; color: black; font-weight: bolder" type="submit" class="btn btn-primary" value="THÊM VÀO GIỎ HÀNG">
                            </div>
                        }
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle">
                            <img src="https://tamanh.net/wp-content/uploads/2018/03/icon-3.png" alt="">
                        </div>
                        <div class="text_product ms-2">
                            <p class="font-weight-bold m-0">Bảo hành 12 tháng</p>
                            Với tất cả các sản phẩm được bán tại Đồ Da Tâm Anh
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle">
                            <img src="https://tamanh.net/wp-content/uploads/2018/03/icon-2.png" alt="">
                        </div>
                        <div class="text_product ms-2">
                            <p class="font-weight-bold m-0">Miễn phí giao hàng trên Toàn quốc</p>
                            Với các đơn hàng có tổng giá trị hóa đơn trên 1,000,000vnđ
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle">
                            <img src="https://tamanh.net/wp-content/uploads/2018/03/icon-1.png" alt="">
                        </div>
                        <div class="text_product ms-2">
                            <p class="font-weight-bold m-0">Đền gấp 10 giá trị đơn hàng</p>
                            Đền gấp 10 giá trị đơn hàng
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center  my-5">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="img_hover">
                        @{
                            string ImagePath1 = "~/wwwroot/Images/" + item.anh;
                        }
                        <img class="w-100" src="@Url.Content(ImagePath1)" alt="">
                    </div>

                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="p-5">
                        <div class="text-center">

                        </div>
                        <div class="text-hover my-3">
                            <h3>Đặc điểm chung sản phẩm @Html.DisplayFor(modelItem => item.tenSanPham) </h3>

                        </div>
                        <div class="">
                            <p>
                                <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>@Html.DisplayFor(modelItem => item.chatLieu)
                            </p>
                            <p>
                                <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>@Html.DisplayFor(modelItem => item.thietKe)
                            </p>
                            <p><i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Màu: @Html.DisplayFor(modelItem => item.mauSac)</p>
                        </div>

                    </div>
                </div>

            </div>
            <!--<div class="row  align-items-center my-5">-->
            @*<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3>Chi tiết đế giày</h3>
            <p class="text-justify">
                <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Đế giày được thiết kế
                chắc chắn với lớp cao su non hiện đại mang lại cảm
                giác thoải mái khi sử dụng.
            </p>
            <p>
                <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Thiết kế xẻ rãnh chống trơn trượt khi sử
                dụng.
            </p>
            <p><i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Thiết kế đế thời trang, hiện đại.</p>
        </div>*@
            <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="img_hover">
                @{
                    string ImagePath2 = "~/wwwroot/Images/" + item.anh;
                }
                <img class="w-100" src="@Url.Content(ImagePath2)" alt="">
            </div>
        </div>
    </div>-->
            <div class="row align-items-center  my-5">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="p-5">
                        <div class="text-center">

                        </div>
                        <div class="text-hover my-3">
                            <h3>Chính sách sản phẩm</h3>

                        </div>
                        <div class="">
                            <p>
                                <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Sản xuất và độc quyền tại Đồ da
                                Tâm Anh
                            </p>
                            <p><i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Bảo hành 12 tháng</p>
                            <p>
                                <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Giao hàng toàn quốc, thanh toán
                                sau khi nhận hàng
                            </p>
                            <p>
                                <i class="text-color fa-1x me-2 fas fa-dot-circle"></i>Đổi trả hàng trong vòng 15 ngày
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <div class="img_hover">
                        @{
                            string ImagePath3 = "~/wwwroot/Images/" + item.anh;
                        }
                        <img class="w-100" src="@Url.Content(ImagePath3)" alt="">
                    </div>

                </div>
            </div>
        </div>
    }


    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
    <script src="./js/swiper.js"></script>
    <script>
        $(document).ready(function () {
            $('.content a').fancybox();
        });
        var quantitiy = 0;
        $('.quantity-right-plus').click(function (e) {

            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            $('#quantity').val(quantity + 1);


            // Increment

        });

        $('.quantity-left-minus').click(function (e) {
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            // Increment
            if (quantity > 0) {
                $('#quantity').val(quantity - 1);
            }
        });
    </script>

