
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container-fluid">

        <div class="bg-light p-3">
            <div class="container">
                Trang chủ <i class="fas fa-chevron-right text-color"></i> Giày da nam <i class="fas fa-chevron-right text-color"></i> Giày lười nam
            </div>
        </div>
        <div class="product_header container my-4">
            <h3 class="text-uppercase">Giày lười nam</h3>
            <div class="d-flex align-items-center justify-content-between py-4 border-top border-bottom">
                <p class="m-0">Showing 1–24 of 35 results</p>
                <div class="">
                    <select class="form-select">
                        <option selected>Thứ tự mặc định</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="product container">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Url.Action("SanPhamChiTiet", "Home")">
                        <div class="product_item">
                            <div class="product_img">
                                <img class="w-100"
                                     src="https://tamanh.net/wp-content/uploads/2020/05/giay-da-bo-nam-dep-quai-da-ngang-tinh-te-gnta2816-d..jpg"
                                     alt="">
                            </div>
                            <div class="product_price text-center m-0 mt-3">
                                <p class="text-uppercase text-color">790.000 đ</p>
                            </div>
                            <p class="px-3 pb-4 m-0">Giày da bò nam quai da ngang GNTA2816-D</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Url.Action("SanPhamChiTiet", "Home")">
                        <div class="product_item">
                            <div class="product_img">
                                <img class="w-100"
                                     src="https://tamanh.net/wp-content/uploads/2020/05/giay-da-bo-nam-dep-quai-da-ngang-tinh-te-gnta2816-d..jpg"
                                     alt="">
                            </div>
                            <div class="product_price text-center m-0 mt-3">
                                <p class="text-uppercase text-color">790.000 đ</p>
                            </div>
                            <p class="px-3 pb-4 m-0">Giày da bò nam quai da ngang GNTA2816-D</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Url.Action("SanPhamChiTiet", "Home")">
                        <div class="product_item">
                            <div class="product_img">
                                <img class="w-100"
                                     src="https://tamanh.net/wp-content/uploads/2020/05/giay-da-bo-nam-dep-quai-da-ngang-tinh-te-gnta2816-d..jpg"
                                     alt="">
                            </div>
                            <div class="product_price text-center m-0 mt-3">
                                <p class="text-uppercase text-color">790.000 đ</p>
                            </div>
                            <p class="px-3 pb-4 m-0">Giày da bò nam quai da ngang GNTA2816-D</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Url.Action("SanPhamChiTiet", "Home")">
                        <div class="product_item">
                            <div class="product_img">
                                <img class="w-100"
                                     src="https://tamanh.net/wp-content/uploads/2020/05/giay-da-bo-nam-dep-quai-da-ngang-tinh-te-gnta2816-d..jpg"
                                     alt="">
                            </div>
                            <div class="product_price text-center m-0 mt-3">
                                <p class="text-uppercase text-color">790.000 đ</p>
                            </div>
                            <p class="px-3 pb-4 m-0">Giày da bò nam quai da ngang GNTA2816-D</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Url.Action("SanPhamChiTiet", "Home")">
                        <div class="product_item">
                            <div class="product_img">
                                <img class="w-100"
                                     src="https://tamanh.net/wp-content/uploads/2020/05/giay-da-bo-nam-dep-quai-da-ngang-tinh-te-gnta2816-d..jpg"
                                     alt="">
                            </div>
                            <div class="product_price text-center m-0 mt-3">
                                <p class="text-uppercase text-color">790.000 đ</p>
                            </div>
                            <p class="px-3 pb-4 m-0">Giày da bò nam quai da ngang GNTA2816-D</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Url.Action("SanPhamChiTiet", "Home")">
                        <div class="product_item">
                            <div class="product_img">
                                <img class="w-100"
                                     src="https://tamanh.net/wp-content/uploads/2020/05/giay-da-bo-nam-dep-quai-da-ngang-tinh-te-gnta2816-d..jpg"
                                     alt="">
                            </div>
                            <div class="product_price text-center m-0 mt-3">
                                <p class="text-uppercase text-color">790.000 đ</p>
                            </div>
                            <p class="px-3 pb-4 m-0">Giày da bò nam quai da ngang GNTA2816-D</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Url.Action("SanPhamChiTiet", "Home")">
                        <div class="product_item">
                            <div class="product_img">
                                <img class="w-100"
                                     src="https://tamanh.net/wp-content/uploads/2020/05/giay-da-bo-nam-dep-quai-da-ngang-tinh-te-gnta2816-d..jpg"
                                     alt="">
                            </div>
                            <div class="product_price text-center m-0 mt-3">
                                <p class="text-uppercase text-color">790.000 đ</p>
                            </div>
                            <p class="px-3 pb-4 m-0">Giày da bò nam quai da ngang GNTA2816-D</p>
                        </div>
                    </a>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Url.Action("SanPhamChiTiet", "Home")">
                        <div class="product_item">
                            <div class="product_img">
                                <img class="w-100"
                                     src="https://tamanh.net/wp-content/uploads/2020/05/giay-da-bo-nam-dep-quai-da-ngang-tinh-te-gnta2816-d..jpg"
                                     alt="">
                            </div>
                            <div class="product_price text-center m-0 mt-3">
                                <p class="text-uppercase text-color">790.000 đ</p>
                            </div>
                            <p class="px-3 pb-4 m-0">Giày da bò nam quai da ngang GNTA2816-D</p>
                        </div>
                    </a>
                </div>

            </div>
            <div class="review my-5">
                <h3 class="text-center text-color">REVIEWS</h3>
                <div class="row container">

                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="p-4 text-center">
                            <img class="rounded-circle" src="https://tamanh.net/wp-content/uploads/2019/03/nguyen-dinh-thien-nvvp-min.png" alt="">
                        </div>
                        <div class="text-center">
                            <h5>NGUYỄN ĐÌNH THIỆN</h5>
                            <p>Nhân viên văn phòng</p>
                        </div>
                        <p class="text-justify">
                            Mình đã mua ví của Tâm Anh cho bản thân dùng cũng như mua tặng khá nhiều. Chất lượng ví Tâm Anh mình thấy trội hơn hẳn các nhãn khác với cùng mức giá vì dùng lâu mà chất da vẫn mềm. Mẫu ví thì khá hợp ý mình vì có nhiều ngăn đựng thẻ (tiện cho người ít dùng tiền mặt như mình
                        </p>
                        <p class="text-center">
                            2020-11-24 13:34:17- <i class="fas fa-star text-color"></i>
                            <i class="fas fa-star text-color"></i>
                            <i class="fas fa-star text-color"></i>
                            <i class="fas fa-star text-color"></i>
                            <i class="fas fa-star text-color"></i>
                        </p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="p-4 text-center">
                            <img class="rounded-circle" src="https://tamanh.net/wp-content/uploads/2019/03/nguyen-dinh-thien-nvvp-min.png" alt="">
                        </div>
                        <div class="text-center">
                            <h5>NGUYỄN ĐÌNH THIỆN</h5>
                            <p>Nhân viên văn phòng</p>
                        </div>
                        <p class="text-justify">
                            Mình đã mua ví của Tâm Anh cho bản thân dùng cũng như mua tặng khá nhiều. Chất lượng ví Tâm Anh mình thấy trội hơn hẳn các nhãn khác với cùng mức giá vì dùng lâu mà chất da vẫn mềm. Mẫu ví thì khá hợp ý mình vì có nhiều ngăn đựng thẻ (tiện cho người ít dùng tiền mặt như mình
                        </p>
                        <p class="text-center">
                            2020-11-24 13:34:17- <i class="fas fa-star text-color"></i>
                            <i class="fas fa-star text-color"></i>
                            <i class="fas fa-star text-color"></i>
                            <i class="fas fa-star text-color"></i>
                            <i class="fas fa-star text-color"></i>
                        </p>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="p-4 text-center">
                            <img class="rounded-circle" src="https://tamanh.net/wp-content/uploads/2019/03/nguyen-dinh-thien-nvvp-min.png" alt="">
                        </div>
                        <div class="text-center">
                            <h5>NGUYỄN ĐÌNH THIỆN</h5>
                            <p>Nhân viên văn phòng</p>
                        </div>
                        <p class="text-justify">
                            Mình đã mua ví của Tâm Anh cho bản thân dùng cũng như mua tặng khá nhiều. Chất lượng ví Tâm Anh mình thấy trội hơn hẳn các nhãn khác với cùng mức giá vì dùng lâu mà chất da vẫn mềm. Mẫu ví thì khá hợp ý mình vì có nhiều ngăn đựng thẻ (tiện cho người ít dùng tiền mặt như mình
                        </p>
                        <p class="text-center">
                            2020-11-24 13:34:17- <i class="fas fa-star text-color"></i>
                            <i class="fas fa-star text-color"></i>
                            <i class="fas fa-star text-color"></i>
                            <i class="fas fa-star text-color"></i>
                            <i class="fas fa-star text-color"></i>
                        </p>
                    </div>


                </div>
            </div>
            <div class="my-5 mx-auto d-flex justify-content-around">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle">
                            <img src="https://tamanh.net/wp-content/uploads/2018/03/icon-3.png" alt="">
                        </div>
                        <div class="text_product ms-2">
                            <p class="font-weight-bold m-0">Bảo hành 12 tháng</p>
                            Với tất cả các sản phẩm được bán tại Đồ Da Tâm Anh
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle">
                            <img src="https://tamanh.net/wp-content/uploads/2018/03/icon-2.png" alt="">
                        </div>
                        <div class="text_product ms-2">
                            <p class="font-weight-bold m-0">Miễn phí giao hàng trên Toàn quốc</p>
                            Với các đơn hàng có tổng giá trị hóa đơn trên 1,000,000vnđ
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="d-flex align-items-center">
                        <div class="rounded-circle">
                            <img src="https://tamanh.net/wp-content/uploads/2018/03/icon-1.png" alt="">
                        </div>
                        <div class="text_product ms-2">
                            <p class="font-weight-bold m-0">Đền gấp 10 giá trị đơn hàng</p>
                            Đền gấp 10 giá trị đơn hàng
                        </div>
                    </div>
                </div>
            </div>
            @*<h5 class="text-uppercase mt-5">Khám phá những mẫu giày lười nam cao cấp tại Tâm Anh </h5>
                <p style="text-align: justify">
                    Để bắt kịp nhu cầu mua sắm của phái mạnh hiện nay, giày lười nam đang
                    trở thành một trong những mẫu giày được nhiều người ưa chuộng. Đáp ứng hoàn hảo được những tiêu
                    chuẩn của một đôi giày lười nam đẹp từ chất liệu da thật, thiết kế hiện đại đến kiểu dáng chắc
                    chắn,…thương hiệu giày lười Tâm Anh luôn là điểm đến quen thuộc của các quý ông.


                </p>*@
        </div>

    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/js/bootstrap.bundle.min.js"></script>
    <script src="~/wwwroot/js/swiper.js"></script>
</body>

</html>
