@model BTL.Models.SanPham

@{
    ViewBag.Title = "Delete";
}

@section loadScript {
    <link rel="stylesheet" href="~/wwwroot/styles/admin/draw-detail-product.css">
    <link rel="stylesheet" href="~/wwwroot/styles/admin/product-manager.css">
    <script type="text/javascript" src="~/wwwroot/js/admin/product/index.js"></script>
}

<div class="product_manager">
    <h2>Xóa sản phẩm</h2>
    <div>
        <h3>Bạn có chắc muốn xóa sản phẩm này?</h3>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Quay lại", "ProductManager", "ProductManager")
            </div>
        }
    </div>
    <div>
        <h4>Sản phẩm</h4>
        <hr />
        <div style="display: flex">
            <img src="~/wwwroot/asset/images/products/@Model.anh" width="200px" height="270px" />
            <div style="margin-left: 20px">
                <div style="display: flex">
                    <p style="margin: 0 10px">@Html.DisplayNameFor(model => model.tenSanPham): </p>
                    <b>@Html.DisplayFor(model => model.tenSanPham)</b>
                </div>
                <div style="display: flex; margin-top: 10px">
                    <p style="margin: 0 10px">@Html.DisplayNameFor(model => model.gia): </p>
                    <b>@Html.DisplayFor(model => model.gia) VND</b>
                </div>
            </div>
        </div>
    </div>
</div>
