@model PagedList.IPagedList<BTL.Models.SanPham>
@using PagedList.Mvc
@{
    ViewBag.Title = "ProductManager";
}

@section loadScript {
    <link rel="stylesheet" href="~/wwwroot/styles/admin/draw-detail-product.css">
    <link rel="stylesheet" href="~/wwwroot/styles/admin/product-manager.css">
    <script type="text/javascript" src="~/wwwroot/js/admin/product/index.js"></script>
}

@section draw {
    <div id="draw">
        <div id="draw_layer" onclick="hiddenDraw()"></div>
        <div id="draw_content">
            <h1>Chi tiết sản phẩm</h1>
            @using (Html.BeginForm("Create", "ProductManager", FormMethod.Post, new { enctype = "multipart/form-data", @class = "draw_form", @id = "draw_form" }))
            {
                @Html.AntiForgeryToken()
                <div class="part1">
                    <div>
                        <p class="id_product" id="ma_san_pham">Mã sản phẩm: sp1001</p>
                        <input name="maSanPham" id="ma_san_pham_input" style="display: none" />
                        <div class="input_item">
                            <label for="ten_san_pham">Tên sản phẩm: </label>
                            <input placeholder="Tên sản phẩm" type="text" id="ten_san_pham" name="tenSanPham" />
                        </div>
                        <div class="part1_1">
                            <div class="input_item">
                                <label for="gia_san_pham">Giá sản phẩm: </label>
                                <input placeholder="Giá sản phẩm" type="number" id="gia_san_pham" name="gia" />
                            </div>
                            <div class="input_item">
                                <label for="chat_lieu_san_pham">Chất liệu sản phẩm: </label>
                                <input placeholder="Chất liệu sản phẩm" type="text" id="chat_lieu_san_pham" name="chatLieu" />
                            </div>
                        </div>
                        <div class="part1_2 part1_1">
                            <div class="input_item">
                                <label for="kieu_dang_san_pham">Kiểu dáng: </label>
                                <input placeholder="Kiểu dáng" type="text" id="kieu_dang_san_pham" name="kieuDang" />
                            </div>
                            <div class="input_item">
                                <label for="thiet_ke_san_pham">Thiết kế: </label>
                                <input placeholder="Thiết kế" type="text" id="thiet_ke_san_pham" name="thietKe" />
                            </div>
                        </div>
                    </div>
                    <div class="input_file">
                        <label for="avatar_nguoi_dung">
                            <img id="img_avatar_nguoi_dung" src="~/wwwroot/asset/images/products/giay-buoc-day-cong-so-gnta5502-d..jpg" width="240px" height="300px" />
                        </label>
                        <input type="file" id="avatar_nguoi_dung" onchange="handleAvatar(event)" name="ImageFile" />
                        <input name="anh" id="product_img" style="display: none" />
                    </div>
                </div>
                <div class="part2">
                    <div class="input_item">
                        <label for="thuong_hieu_san_pham">Thương hiệu: </label>
                        <input placeholder="Thương hiệu" type="text" id="thuong_hieu_san_pham" name="thuongHieu" />
                    </div>
                    <div class="input_item">
                        <label for="mau_sac_san_pham">Màu sắc: </label>
                        <input placeholder="Màu sắc" type="text" id="mau_sac_san_pham" name="mauSac" />
                    </div>
                </div>
                <div class="part3 part2">
                    <div class="input_item">
                        <label for="kich_thuoc_san_pham">Kích thước: </label>
                        <input placeholder="Kích thước" type="text" id="kich_thuoc_san_pham" name="kichThuoc" />
                    </div>
                    <div class="input_item">
                        <label for="danh_muc_san_pham">Danh mục</label>
                        <select id="danh_muc_san_pham" name="maDanhMuc">
                            @foreach (var item in ViewBag.Categorys)
                            {
                                <option value="@item.maDanhMuc">@item.tenDanhMuc</option>
                            }
                        </select>
                    </div>
                </div>
                <button type="submit" class="button_submit">Lưu thay đổi</button>
            }
        </div>
    </div>
}

<div class="product_manager">
    <div style="display: flex; margin-bottom: 20px">
        <div style="display: flex; align-items: center">
            <h1>Danh sách sản phẩm</h1>
            <span class="icon" onclick="showDraw()" title="Thêm sản phẩm" style="margin-left: 30px; cursor: pointer">
                <i class="fas fa-plus-square" style="font-size: 30px"></i>
            </span>
        </div>
        <div style="display: flex; align-items: center; margin-left: 50px; flex: 1; justify-content: center">
            @using (Html.BeginForm())
            {
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "Tìm kiếm theo tên", @style = "padding: 6px 15px; min-height: 25px; min-width: 250px"})
                <input type="submit" value="Tìm kiếm" style="min-height: 41px; background-color: #fff; border: 0.5px solid; cursor: pointer" />
            }
            <p style="margin-left: 30px">
                Sắp xếp theo
            </p>
            <p style="margin-left: 10px">
                @Html.ActionLink(
                    "Tên hàng",
                    "ProductManager",
                    new
                         {
                        sortOrder = ViewBag.SortWithName == "" ?
                            "name_desc" :
                            ViewBag.SortWithName == "name_desc" ?
                                "name"
                                : ""
                        ,
                             currentFilter = ViewBag.CurrentFilter
                    })
                @(ViewBag.SortWithName == "" ? "" : ViewBag.SortWithName == "name_desc" ? ": Z -> A" : ": A -> Z")
            </p>
            <p style="margin-left: 10px">
                @Html.ActionLink(
                    "Giá",
                    "ProductManager",
                    new
                         {
                        sortOrder = ViewBag.SortWithPrice == "" ?
                            "price_desc"
                            : ViewBag.SortWithPrice == "price_desc" ?
                                "price"
                                : ""
                        ,
                             currentFilter = ViewBag.CurrentFilter
                    })
                @(ViewBag.SortWithPrice == "" ? "" : ViewBag.SortWithPrice == "price_desc" ? ": Giảm dần" : ": Tăng dần")
            </p>
        </div>
    </div>
    <div class="list_product" id="list_product">
        <div>
            @foreach (var item in Model)
            {
                <div class="product_item">
                    <img src="~/wwwroot/asset/images/products/@item.anh" width="200px" height="270px" />
                    <div class="product_info">
                        <div class="handle_product">
                            <span class="icon" onclick="showDraw(@item.maSanPham)">
                                <i class="fas fa-edit"></i>
                            </span>
                            @*<span class="icon" onclick="deleteProduct(@item.maSanPham)">
                                <i class="fas fa-trash-alt"></i>
                            </span>*@
                            <span class="icon">
                                <a href="@Url.Action("Delete", "ProductManager", new { id = item.maSanPham })">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </span>
                        </div>
                        <div class="product_info_content">
                            <p class="product_name">@item.tenSanPham</p>
                            <p class="product_star">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </p>
                            <p class="product_price">@Html.DisplayFor(modelItem => item.gia) VNĐ</p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("ProductManager", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>
</div>