@model IEnumerable<BTL.Models.DanhMuc>
<div class="menu3 container">
    <div class="d-flex py-4 justify-content-between align-items-center" style="font-weight: bold; width: 1300px; background-color: aliceblue; elevation: level; padding: 10px; border-color: azure; border-width: thick">
        <div class="flex-row p-0 hover_cate">
            <a href="" class="active text-uppercase">
                <i class="fas fa-align-left"></i> Danh mục <i class="fas fa-angle-down"></i>
            </a>
            <div class="hover_li">
                @foreach (var item in Model)
                    {
                        <ul class="m-0 p-0">
                            @{ 
                               <li><a href="@Url.Action("SanPham","Home",new { id=item.maDanhMuc})"> 
                                    @Html.DisplayFor(modelItem => item.tenDanhMuc)
                               </a></li>
                            }
                            
                        </ul>
                    }
            </div>
        </div>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "" )">
            @Html.ActionLink("TRANG CHỦ", "Index", "Home")
        </li><li class="@(ViewContext.RouteData.Values["Action"].ToString() == "SanPham" ? "active" : "" )">
            @Html.ActionLink("SẢN PHẨM", "SanPham", "Home")
        </li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "GioiThieu" ? "active" : "" )">
            @Html.ActionLink("GIỚI THIỆU", "GioiThieu", "Home")
        </li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "LienHe" ? "active" : "" )">
            @Html.ActionLink("LIÊN HỆ", "LienHe", "Home")
        </li>
        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "TinTuc" ? "active" : "" )">
            @Html.ActionLink("TIN TỨC", "TinTuc", "Home")
        </li>
       
    </div>

</div>
