@model BTL.Models.Donhang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Donhang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.chuThich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.chuThich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phuongThucVanChuyen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phuongThucVanChuyen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maDonHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
